In [1]:
# Import Libraries

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
# Load the dataset

df = pd.read_csv("titanic_train.csv")

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Survived    5 non-null      int64
 1   Pclass      5 non-null      int64
 2   Sex         5 non-null      int64
 3   Age         5 non-null      int64
 4   SibSp       5 non-null      int64
 5   Parch       5 non-null      int64
 6   Fare        5 non-null      float64
 7   Embarked_S  5 non-null      uint8
dtypes: float64(1), int64(6), uint8(1)
memory usage: 413.0 bytes

In [15]:
df.describe()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_S
count,5.000000,5.000000,5.000000,5.00000,5.000000,5.0,5.000000,5.000000
mean,0.600000,2.200000,0.600000,31.20000,0.600000,0.0,29.521660,0.800000
std,0.547723,1.095445,0.547723,6.83374,0.547723,0.0,30.510029,0.447214
min,0.000000,1.000000,0.000000,22.00000,0.000000,0.0,7.250000,0.000000
25%,0.000000,1.000000,0.000000,26.00000,0.000000,0.0,7.925000,1.000000
50%,1.000000,3.000000,1.000000,35.00000,1.000000,0.0,8.050000,1.000000
75%,1.000000,3.000000,1.000000,35.00000,1.000000,0.0,53.100000,1.000000
max,1.000000,3.000000,1.000000,38.00000,1.000000,0.0,71.283300,1.000000

In [18]:
df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age           0
SibSp         0
Parch         0
Fare          0
Embarked_S    0
dtype: int64

In [3]:
# Handle Missing Values
# Age - fill missing with mean

df["Age"].fillna(df["Age"].mean(), inplace=True)

In [4]:
# Embarked - fill missing with mode

df["Embarked"].fillna(df["Embarked"].mode()[0], inplace=True)

In [5]:
df.drop(["PassengerId", "Name", "Ticket", "Cabin"], axis=1, inplace=True)

In [6]:
df["Sex"] = df["Sex"].map({"male": 0, "female": 1})

In [7]:
df = pd.get_dummies(df, columns=["Embarked"], drop_first=True)

In [23]:
from sklearn.model_selection import train_test_split

X = df.drop("Survived", axis=1)
y = df["Survived"]

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [24]:
# Model Training

model = LogisticRegression(max_iter=200)
model.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=200,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [25]:
# Prediction & Accuracy

y_pred = model.predict(X_test)
acc = accuracy_score(y_test, y_pred)

print("Accuracy:", acc)

Accuracy: 1.0